fieldset{
    width: 800px;
}

legend, table{
    font-size: 20px;
    font-weight: bold;
    /* новый коммет */
}

tr{}

td{}

label{
    font-size: 20px;
    margin: 8px;
    border: none;
    padding: 10px 15px;
}

button{
    height: 50px;
    font-size: 20px;
    margin: 8px;
    background: rgb(83, 130, 231);
    border-radius: 5px;
    line-height: 5px;
    border: none;
    padding: 10px 15px;
}

kbd{
    background-color: black;        /*цвет фона*/
    color: white;                   /*цвет текста*/
    padding: 5px;                     /*внутренний отступ*/
    margin: 4px;                       /*внешний отступ*/
    border: rgb(180, 31, 5) 2px double; /*граница (цвет, тип линии-сплошная, пунктир и тд) ширина) */
}
